<%= simple_form_for @list, :html => { :class => 'form-inline' } do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= error_span(@list[:name]) %>
  <%= f.check_box :is_private %>
  <%= label :is_private, "Is private" %>
  <%= error_span(@list[:is_private]) %>

  <h3>Tasks</h3>
  <div id="tasks">
  <%= f.simple_fields_for :tasks do |task| %>
    <%= render 'task_fields', f: task %>
  <% end %>
  </div>

    <div class="links">
      <br>
      <%= link_to_add_association 'Add new task', f, :tasks, :class => "btn btn-primary" %>
    </div>
<hr></hr>
<%= f.submit :class => "btn btn-success" %>
<% end %>
