<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @list.is_private %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', user_lists_path(@list.user) %>
