<%- model_class = List -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <p><%= link_to 'Include to favorites', favorite_path(@list.id) %></p>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @list.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_private) %>:</strong></dt>
  <dd><%= @list.is_private %></dd>
  <ol>
    <% @list.tasks.each do |task| %>
      <li><%= task.task_name %></li>
    <% end %>
  </ol>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              user_lists_path(@list.user), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_list_path(@list), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              list_path(@list),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
